@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.text-shadow {
  text-shadow: 0 .125rem .125rem black;
}

.text-shadow-none {
  text-shadow: none;
}

.custom-outline-shadow {
  text-shadow: #6635d0 -1px 1px 0px, #6635d0 -2px 2px 0px, #6635d0 -3px 3px 0px, #6635d0 -4px 4px 0px, #6635d0 -5px 5px 0px, #6635d0 -6px 6px 0px, #6635d0 -7px 7px 0px;
}

.custom-outline {
  text-shadow: 1.41px 1.41px #6635d0, 2px 0 #6635d0, 1.41px -1.41px #6635d0,
    0 -2px #6635d0, -1.41px -1.41px #6635d0, -2px 0 #6635d0,
   -1.41px 1.41px #6635d0, 0 2px #6635d0;
}

.stack-behind {
  margin-left: -1.5rem;
}

.footer-ul:before {
  content: attr(aria-label);
  font-size: 0.9rem;
  font-weight: 500;
}